.profile__header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile__paragraph {
  font-size: 18px;
  color: green;
  margin-bottom: 15px;
}

.button_logout {
  padding: 10px 20px;
  border: 1.5px solid red;
  border-radius: 10px;
  background-color: pink;
  font-weight: 600;
  font-size: 14px;
}
